<form name="register" action="/api.php" method="POST" id="registration-form">
	<label for="register-username">Username</label>
	<input type="text" name="register[username]" placeholder="Enter username" id="register-username" required/>
	<br/>
	<label for="register-name">Name</label>
	<input type="text" name="register[name]" id="register-name" placeholder="Firstname Lastname" pattern="[A-z]+ [A-z]+" required/>
	<br/>
	<label for="register-email">Email</label>
	<input type="email" name="register[email]" id="register-email" placeholder="user@example.com" required>
  	<br/>
  	<label for="register-password">Password</label>
  	<input type="password" name="register[password]" id="register-password" placeholder="*********" required/>
  	<br/>
  	<button type="submit">Register</button>
</form>
