<div class="browser-update" style="border: 2px outset #444; padding: 2em; background-color: #ddd;">
	<center>
		<h1><u>Your browser is not supported</u></h1>
		<h3>Please install a supported browser to use this site</h3>
		<div class="inline-block">
			<a href="https://www.mozilla.org/en-US/firefox/new/" title="Install Firefox">
				<img src="/images/rasters/firefox.png" width="256" height="256" alt="Install Firefox"/>
				<p>Install Firefox</p>
			</a>
		</div>
		<div class="inline-block" style="width: 10em;"></div>
		<div class="inline-block">
			<a href="https://www.google.com/intl/en/chrome/browser/" title="Install Chrome">
				<img src="/images/rasters/chrome.png" width="256" height="256" alt="Install Chrome"/>
				<p>Install Chrome</p>
			</a>
		</div>
	</center>
	<hr/>
	<blockquote>
		Modern browsers like Firefox and Chrome provide a faster, more
		secure, and more interactive online experience. Older browers,
		on the other hand, do not support the latest features and often
		do cetain things backwards.<br/><br/>
		In order to provide the best experience for the majority of our
		users, we cannot support your browser. Even Microsoft recommends
		that you not use unsupported versions of Internet Explorer.<br/><br/>
		<i>Learn more <a href="https://whatbrowser.org/">here</a>.</i>
	</blockquote>
</div>
