aside {
	order: 3;
	flex-basis: calc(100% - var(--main-width));
	background: #efefef;
	border: 2px outset #222;
	overflow-y: auto;
}
@media (min-width: 800px) {
	aside {
		height: 90vh;
		position: sticky;
		top: 10vh;
	}
}
