aside {
	order: 3;
	flex-basis: calc(100% - var(--main-width));
	background: #efefef;
	border: 2px outset #222;
	overflow-y: auto;
}
@media (min-width: 800px) {
	aside {
		height: calc(100vh - var(--nav-height) + var(--nav-padding));
		position: sticky;
		top: calc(var(--nav-height) + 2 * var(--nav-padding));
	}
}
