body > header {
	order: 0;
	height: 23vh;
	background-image: var(--logo), var(--river-bg);
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-position: right, 0 36%;
}
body > header img {
  display: none;
}
