nav {
	order: 1;
	padding: var(--nav-padding) 0;
	background: var(--primary-color);
	top: 0;
	justify-content: space-around;
}
nav > * {
	display: inline-block;
	height: var(--nav-height);
	width: auto;
}
