:root {
	--main-width: 70%;
	/*================= Set color vars here =================*/
	--default-color: rgb(252, 252, 252);
	--alt-color: rgb(41, 41, 41);
	--primary-color: #EA5708;
	--highlight-color: #EA5708;
	--link-color: hsl(209, 62%, 45%);
	--visited-color: #551A8B;
	--border-color: rgb(45, 45, 45);
	--default-cursor: auto;
	--pointer: pointer;
	
	--nav-height: 2.3rem;
	--nav-padding: 0.1rem;
	/*========== Set background images, etc here ==========*/
	/*--main-bg: url(../../images/backgrounds/dark_abstract.svgz);*/
	--glass-grad: linear-gradient(to top left, rgba(80, 80, 80, 0.7), rgba(140, 140, 140, 0.9), rgba(40, 40, 40, 0.7));
	--shadow: rgba(20, 20, 20, 0.9);
	--tint-glass: linear-gradient(rgba(40, 40, 40, 0.8), rgba(80, 80, 80, 0.7));
	--header-bg: linear-gradient(rgba(40, 40, 40, 1), rgba(80, 80, 80, 0.97));
	--logo: url(/images/sun-icons/sun-rise.svg);
	--river-l: url(/images/scenic/river.jpg);
	--river-m: url(/images/scenic/river-800.jpg);
	--river-s: url(/images/scenic/river-300.jpg);
	--progress-grad: linear-gradient(var(--highlight-color), var(--primary-color), var(--highlight-color));
	/*==================== Set fonts here ====================*/
	--header-font: 'PressStart';
	--article-font: 'Ubuntu';
	--article-header-font: var(--header-font);
	--icon-font: 'Web Symbols';
	/*================ Set various icons here ================*/
	--link-icon: '  K';
	--tag-icon: '  , ';
	--new-tab-icon: '  D';
	--download-icon: '  A';
	--next-icon: ')';
	--prev-icon: '(';
	--unchecked-icon: '  \\';
	--checked-icon: '  .';
	--dropdown-open-icon: '[ ';
	--dropdown-closed-icon: '] ';
	--close-icon: '\'';
	--search-icon: 'L';
	--attachmnent-icon: 'A';
	--fullscreen-icon: '%';
	/*==================== Column Rules ====================*/
	--col-width: 200px;
	--col-gap: 3em;
	--col-rule: 5px dashed #333;
}
